h3{
    color:brown
}

h4{
    color:rgb(146, 13, 13)
}

h5{
    color:rgb(96, 25, 25)
}

h6{
    color:rgb(91, 26, 26)
}
.myheading{
    color:rgb(45, 16, 22)
}

#heading2{
    background-color: rgb(48, 218, 124);
}